{% load static %}
<ul>
    {% if request.user.is_authenticated %}
        <li>
            Hi, {{request.user.username}}
        </li>
        <li>
            <a href="{% url 'logout' %}">Logout</a>
        </li>
    {% else %}
        <li>
            <a href="{% url 'login' %}">Login</a>
        </li>
        <li>
            <a href="{% url 'signup' %}">Signup</a>
        </li>
    {% endif %}
</ul>
<div>
    <a href="{% url 'make_post' %}">Make Post</a>
</div>
<div>
    <!-- show all images in PostsView. PostsViews has self.object_list -->
    {% for post in object_list %}
    <!-- anchor tag   -->
    <!-- forward to localhost:8080/insta when clicking on the image   -->
    <!-- url search for the name of one of the urls in urls.py   -->
        <a href="{% url 'post_detail' post.id %}">
            <img src="/{{post.image}}">
        </a>
    {% endfor %}
</div>